/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #17527F;
}

.resume-main {
	background-color: #B9E1FF;
}

.resume-aside {
	background-color: #67A0CC;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #0B0000;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
.language-progress {
	background-color:crimson
}
.language-progress {
	background-color: crimson
		
}
.border-2 {
border-color: black !important
}
h5 {
	font-family: carbon,sans-serif;
font-weight: 400;
font-style: normal;
	font-size: 21px ;
	color: black;
	
}
h1 {
	font-family: cambo ;
	font-size: 48px ;
	color:white ;
	text-shadow: 5px 5px #000000;
}
h2 {
	font-family: CHERRY "cherry-cream-soda" ;
	font-size: 24px 
}
ul {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif" ;
	font-size: 18px 
}
h6 { 
font-family: carbon,sans-serif;
font-weight: 400;
font-style: normal;
font-size: 22px;
color: white
}
h4 {
	font-family: cambo ;
	font-size: 24px ;
	color:black;
}
a {
	color: black; } 